*{
    font-family:'open sans';
    margin:0;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 225px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    font-size:20px;
    color: #474747;
    margin:20px;
    list-style: none;
}

.orange-text{
    color: #FD6E0A;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav li{
    font-size:20px;
    color: #474747;
}
.btn-nav{
    font-size: 20px;
    font-weight: 700;
    color: #FFFBF3;
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    padding: 18px 35px;
}

